<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="menu/ventas"></ion-back-button>
    </ion-buttons>
    <ion-title>Extras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col sizeXs="12" sizeMd="8">
            <div class="row-search-container">
              <ion-input [(ngModel)]="searchTerm" placeholder="Buscar..." class="input-search" />
              <ion-button class="btn-search-inside" type="button" (click)="onSearch()">
                <ion-icon name="search" />
              </ion-button>
            </div>
          </ion-col>
            <ion-col sizeXs="6" sizeMd="2">
              <ion-button class="btn-exportar">
                <ion-icon slot="end" name="document-text" />
                <span>
                  Exportar Excel
                </span>
              </ion-button>
            </ion-col>
            <ion-col sizeXs="6" sizeMd="2">
              <div class="grupo-derecho">
                <ion-button class="btn-mostrar" (click)="abrirPopoverLimite($event)">
                  <span>Mostrar: {{ itemsPerPage }}</span>
                  <ion-icon slot="end" name="caret-down"></ion-icon>
                </ion-button>
                <ion-popover #popoverLimite [isOpen]="isPopoverLimiteAbierto" [event]="eventoPopoverLimite"
                  [dismissOnSelect]="false" (didDismiss)="isPopoverLimiteAbierto = false">
                  <ng-template>
                    <ion-list>
                      <ion-item (click)="setItemsPerPage(10); popoverLimite.dismiss()">
                        <ion-label>10</ion-label>
                      </ion-item>
                      <ion-item (click)="setItemsPerPage(25); popoverLimite.dismiss()">
                        <ion-label>25</ion-label>
                      </ion-item>
                      <ion-item (click)="setItemsPerPage(50); popoverLimite.dismiss()">
                        <ion-label>50</ion-label>
                      </ion-item>
                      <ion-item (click)="setItemsPerPage(100); popoverLimite.dismiss()">
                        <ion-label>100</ion-label>
                      </ion-item>
                    </ion-list>
                  </ng-template>
                </ion-popover>
              </div>
            </ion-col>
        </ion-row>
        <div class="div-tabla">
          <table id="tablaExtras" class="display">
            <thead>
              <tr>
                <th style="width: 10rem;">Nombre</th>
                <th style="width: 20rem;">Productos</th>
                <th style="width: 10rem;">Precio</th>
                <th style="width: 7rem;">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>
                  {{ item.nombre }}
                </td>
                <td>
                  {{ item.productos }}
                </td>
                <td>
                  {{ item.precio }}
                </td>
                <td>
                  <ion-button class="btn-ver">
                    <ion-icon name="eye" />
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ion-row class="paginacion-wrapper ion-justify-content-center ion-align-items-center">
          <!-- Botón página anterior -->
          <ion-col size="auto">
            <ion-button fill="clear" class="nav-btn" (click)="cambiarPagina(-1)"
              [disabled]="currentPage === 1 || isLoading">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <!-- Página actual -->
          <ion-col size="auto">
            <ion-input type="number" [(ngModel)]="currentPage" (ionChange)="onInputChange()" min="1" class="page-input"
              [disabled]="isLoading">
            </ion-input>
          </ion-col>

          <!-- Botón página siguiente -->
          <ion-col size="auto">
            <ion-button fill="clear" class="nav-btn" (click)="cambiarPagina(1)" [disabled]="isLoading">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <!-- Texto total -->
          <ion-col sizeXs="12" sizeMd="12" class="total-info">
            Página {{ itemsPerPage }} • Total: {{ totalRegistros }} registros
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
