ion-row {
    width: 100%;
}

ion-card {
    border-radius: 15px;
    width: 100%;
}

ion-card-header {
    height: 4rem;
    padding: 0.5rem;
    background: var(--medium-color);
}

ion-card-content {
    height: auto;
    padding: 0.5rem;
    background: var(--background-color);
}

ion-item {
    --background: transparent;
}

ion-button {
    width: 100%;
}

.card-content-collapse {
    display: none;
}

.row-producto {
    border-bottom: 1px solid var(--dark-color);
    width: 100%;
} 

.label-nombre {
    font-size: large;
    color: white;
    font-weight: 600;
}

.badge-pendiente {
    background: var(--danger-color);
    font-size: large;
}

.badge-completado {
    background: var(--success-color);
    font-size: large;
}

.label-divider {
    font-weight: 600;
    font-size: var(--font-size-sm);
    text-align: center;
}

.label-nombre-producto {
    color: black;
    font-weight: 600;
    font-size: large;
}

.label-subnombre-producto {
    color: var(--dark-color);
    font-size: small;
}

.label-titulo-producto {
    color: var(--text-inverso-color);
    font-weight: 500;
}

.label-cantidad-producto, 
.label-precio-producto {
    font-size: medium;
    font-weight: 600;
}

.col-content-right {
    text-align: right;
}

.btn-cancelar {
    --background: var(--danger-color);   
}

.btn-editar {
    --background: var(--warning-color);
}

.btn-completar {
    --background: var(--success-color);
}

.label-total {
    display: block;
    color: var(--text-inverso-color);
    font-weight: 600;
    text-align: right;
    font-size: large;
}
//Estilos Principales de swiper
swiper-slide {
    margin: 5px;
}

ion-list {
    background: transparent;
}

.swiper {
    padding-top: 16px;
    margin-right: 15px;
    margin-left: 15px;
}

.label-swiper {
    padding-top: 16px;
    font-size: var(--font-size-md);
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: block;
}


.label-total-pedido {
    font-size: var(--font-size-md);
    display: block;
    text-align: center;
}

//Card de swiper
.card-burbuja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background-color: var(--background-color);
    text-align: center;
    padding: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.card-extra {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    height: 2rem;
    transition: background-color 0.3s, transform 0.3s;
}

.icono-burbuja {
    font-size: var(--font-size-lg);
    color: var(--dark-color);
}

.icono-extra {
    font-size: var(--font-size-md);
    margin-right: 12px;
    color: var(--dark-color);
}

.texto-burbuja {
    font-size: var(--font-size-sm);
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--dark-color);
}

.texto-extra {
    font-size: var(--font-size-md);
    font-weight: 500;
    color: var(--dark-color);
}

.extras-grid {
    display: grid;
    grid-template-rows: repeat(2, auto); 
    grid-auto-flow: column; 
    gap: 8px;
    overflow-x: auto;
    padding: 15px;
}

//Estilo al selecionar
.selected {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

.selected-extra {
    background-color: var(--secondary-color);
    transform: scale(1.01);
}
