ion-row {
    width: 100%;
}

ion-card {
    border-radius: 15px;
    width: 100%;
}

ion-card-header {
    height: 4rem;
    padding: 0.5rem;
    background: var(--medium-color);
}

ion-card-content {
    height: auto;
    padding: 0.5rem;
    background: var(--background-color);
}

ion-item {
    --background: transparent;
}

ion-button {
    width: 100%;
}

.card-content-collapse {
    display: none;
}

.row-producto {
    border-bottom: 1px solid var(--dark-color);
    width: 100%;
} 

.label-nombre {
    font-size: large;
    color: white;
    font-weight: 600;
}

.badge-pendiente {
    background: var(--danger-color);
    font-size: large;
}

.badge-completado {
    background: var(--success-color);
    font-size: large;
}

.label-nombre-producto {
    color: black;
    font-weight: 600;
    font-size: large;
}

.label-subnombre-producto {
    color: var(--dark-color);
    font-size: small;
}

.label-titulo-producto {
    color: var(--text-inverso-color);
    font-weight: 500;
}

.label-cantidad-producto, 
.label-precio-producto {
    font-size: medium;
    font-weight: 600;
}

.col-content-right {
    text-align: right;
}

.btn-cancelar {
    --background: var(--danger-color);   
}

.btn-editar {
    --background: var(--warning-color);
}

.btn-completar {
    --background: var(--success-color);
}

.label-total {
    display: block;
    color: var(--text-inverso-color);
    font-weight: 600;
    text-align: right;
    font-size: large;
}
