ion-row {
    text-align: center;
    justify-content: center;
}

ion-avatar {
    width: 6rem;
    height: 6rem;
}

ion-label {
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
}

ion-input {
    font-size: large;
}

ion-item {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    --background: var(--ion-color-white);
}

ion-button {
    width: 100%;
    text-transform: capitalize;
    font-size: large;
    margin-top: 1rem;
    --border-radius: 10px;
    --background: var(--dark-color);
    --color: var(--white-color);
}

ion-label {
    width: 100%;
}

ion-card {
    border-radius: 15px;
    min-height: 60vh;
    max-height: 65vh;
    height: auto;
    width: 100%;

    ion-card-content {
        height: 100%;
    }
}

.div-buttons {
    display: flex;
    margin-top: 7rem;
    flex-direction: column;
    gap: 0.5rem;
}

.label-titulo {
    font-size: x-large;
    font-weight: 700;
    color: var(--ion-color-dark);
    margin-bottom: 2rem;
}

.label-input-datos {
    color: var(--ion-color-dark);
    text-align: left;
    padding: 0 0 5px 0;
}

.row-avatar {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.btn-iniciar {
    --background: var(--ion-color-white);
    --color: var(--ion-color-dark);
}
