<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ticket" href="/menu/ticket">
      <ion-icon name="ticket"/>
      <ion-label>Ticket</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos" href="/menu/pedidos">
      <ion-icon name="fast-food"/>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ventas" href="/menu/ventas">
      <ion-icon name="bar-chart"/>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" href="/menu/login">
      <ion-icon name="person"/>
      <ion-label>Sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>