<ion-content [fullscreen]="true">
    <ion-row class="row-avatar">
      <ion-avatar>
        <img src="../../assets/icon/babyboba.jpg"/>
      </ion-avatar>
    </ion-row>
    <ion-row>
      <ion-label>Baby Boba</ion-label>
    </ion-row>
    <ion-row class="row-spinner">
        <ion-spinner name="circular"></ion-spinner>
    </ion-row>
    <ion-row class="row-version">
        <ion-label class="label-version">Version 1.0.0</ion-label>
        <ion-label class="label-empresa">Deftsoft</ion-label>
    </ion-row>
</ion-content>
