ion-grid {
    display: flex;
    flex-direction: column;
    flex: 1;
}

ion-row {
    justify-content: center;
}

ion-label {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

ion-avatar {
    width: 10rem;
    height: 10rem;
}

ion-spinner {
    width: 2.5rem;
    height: 2.5rem;
}

.label-version {
    font-size: small;
    text-align: center;
}

.label-empresa {
    font-size: medium;
}

.row-avatar {
    padding-top: 11rem;
    padding-bottom: 1rem;
}

.row-spinner {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: large;
}

.row-version {
    margin-top: auto;
    padding-bottom: 2rem;
    display: flex;
    text-align: center;
    height: 40%;
    align-items: flex-end;
    flex-direction: column;
    gap: 0.25rem;
}
