<div class="tabla-container">
  <div class="export-buttons">
    <ion-button size="small" (click)="exportToExcel()">Exportar Excel</ion-button>
    <ion-button size="small" (click)="exportToPDF()">Exportar PDF</ion-button>
  </div>
  <ion-grid>
    <ion-row class="tabla-header">
      <ion-col *ngFor="let col of columnas"
               [style.width]="col.width"
               (click)="sortBy(col.field)">
        <b>{{ col.header }}</b>
        <ion-icon *ngIf="sortColumn === col.field"
                  [name]="sortDirection === 'asc' ? 'chevron-up' : 'chevron-down'">
        </ion-icon>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let row of data">
      <ion-col *ngFor="let col of columnas" [style.width]="col.width">
        {{ row[col.field] === 0 ? '0' : (row[col.field] || '') }}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
