.tabla-container {
  overflow-x: auto;
}

.tabla-header {
  background: var(--ion-color-light);
  border-bottom: 2px solid var(--ion-color-medium);
  cursor: pointer;
}

ion-row {
  border-bottom: 1px solid var(--ion-color-medium);
}

.export-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
