<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="row-titulo">
      <ion-label class="label-titulo">Iniciar sesión</ion-label>
    </ion-row>
    <ion-row class="row-titulo">
      <ion-avatar>
        <img src="../../../assets/icon/babyboba.jpg"/>
      </ion-avatar>
    </ion-row>
    <ion-row class="row-contenido">
      <ion-label>Ingresa tu nombre de usuario o correo:</ion-label>
      <ion-input type="email" placeholder="example@gmail.com"><ion-icon slot="start" name="mail"/></ion-input>
      <ion-label>Ingresa tu contraseña:</ion-label>
      <ion-input type="password" placeholder="password"><ion-icon slot="start" name="key"/></ion-input>
    </ion-row>
    <ion-row>
      <ion-button>
        Iniciar sesion
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button class="btn-cancelar">
        Cancelar
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
