.div-tabla {
    width: 100%;
    overflow-x: auto; /* solo horizontal */
    -webkit-overflow-scrolling: touch; /* para smooth scroll en móvil */
}

ion-row {
    width: 100%;
}

ion-button {
    margin: 1px 3px;
    color: var(--ion-color-white);
}

ion-card {
    width: 100%;
    background: var(--ion-color-input);
    color: var(--ion-color-dark);
    border-radius: 15px;
}

.btn-search-inside {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    --background: transparent !important;
    z-index: 2;
    color: var(--ion-color-primary);
    --border: none;
    --box-shadow: none;
    --padding-end: 0.5rem;
    --padding-start: 0.5rem;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    width: 2rem !important;
    height: 2rem !important;
}

.btn-mostrar {
    width: 100% !important;
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: capitalize;
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
    min-height: 2.5rem;
}

.btn-exportar {
    width: 100% !important;
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: capitalize;
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
    min-height: 2.5rem;
    color: var(--ion-color-primary);
    --background: transparent;
}

.paginacion-wrapper {
    margin-top: 15px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 10px;
    font-family: 'Segoe UI', sans-serif;
}

.nav-btn {
    border: 2px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
    border-radius: 6px;
    font-size: 16px;
    min-width: 38px;
    height: 42px;
    margin: 0;
}

.page-input {
    background: var(--ion-color-gray-light);
    border-radius: 8px;
    text-align: center;
    min-width: 3rem;
    box-shadow: 0px 1px 10px rgba(184, 220, 242, 0.417);
    font-size: 1rem;
    font-weight: bold;
    width: auto;
    max-width: 4rem;
}

.total-info {
    font-size: 14px;
    font-weight: bold;
    color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-search {
    border: 2px solid var(--ion-color-primary);
    --border-radius: 10px;
    border-radius: 10px;
    --background: var(--ion-color-input-medium);
    color: var(--ion-color-dark);
    font-size: 1rem;
    font-weight: 600;
    min-height: 2.5rem;
    min-width: 10rem;
    width: 100% !important;
    --padding-start: 0.5rem;
    --padding-end: 2rem;
    margin: 1px 3px;
}

.grupo-derecho {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.row-search-container {
    position: relative;
}

/* Contenedor de la tabla */
.tabla-usuarios {
  min-width: 800px; /* ancho mínimo para la tabla */
  width: 100%;
  border-spacing: 0;
}

/* Encabezado */
.header-row {
  background-color: var(--ion-color-input);
  color: var(--ion-color-dark);
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid var(--ion-color-dark);
  padding: 0.5rem 0;
}

/* Filas del cuerpo */
.body-row {
  background-color: var(--ion-color-input-medium);
  color: var(--ion-color-black);
  text-align: center;
  padding: 0.5rem 0;
}

/* Alternar color de filas */
.body-row:nth-child(odd) {
  background-color: var(--ion-color-gray-light);
}

/* Hover sobre filas */
.body-row:hover {
  background-color: var(--ion-color-medium);
}

ion-button.btn-ver,
ion-button.btn-editar,
ion-button.btn-eliminar {
  margin: 1px 2px;
  padding: 0;
  color: var(--ion-color-white);
}

.btn-ver {
  --background: var(--ion-color-sky-blue);
}

.btn-editar {
  --background: var(--ion-color-success);
}

.btn-eliminar {
  --background: var(--ion-color-danger);
}

ion-modal.modal-card {
  --width: min(880px, calc(100% - 48px));  /* margen lateral seguro */
  --max-width: 880px;
  --height: auto;
  --max-height: calc(100% - 48px);
  --border-radius: 18px;
  --backdrop-opacity: .35;
}

ion-card.card-modal {
  width: auto;
  background: var(--ion-color-white);
  color: var(--ion-color-dark);
  border-radius: 15px;
  overflow-x: auto;
  overflow-y: auto;

  ion-card-header {
    text-align: center;
  }

  .card-modal-input{
    border: 2px solid var(--ion-color-primary);
    --border-radius: 10px;
    border-radius: 10px;
    --background: var(--ion-color-input-medium);
    color: var(--ion-color-dark);
    font-size: 1rem;
    font-weight: 600;
    min-height: 2.5rem;
    min-width: 10rem;
    width: 100% !important;
    --padding-start: 0.5rem;
    --padding-end: 2rem;
    margin: 1px 3px;
  }

  .card-modal-select{
    border: 2px solid var(--ion-color-primary);
    --border-radius: 10px;
    border-radius: 10px;
    --background: var(--ion-color-input-medium);
    color: var(--ion-color-dark);
    font-size: 1rem;
    font-weight: 500;
    min-height: 2.5rem;
    min-width: 10rem;
    width: 100% !important;
    --padding-start: 0.5rem;
    --padding-end: 2rem;
    margin: 1px 3px;
  }
}

.card-modal-parrafo {
  font-size: medium;
}

.ng-modal {
  overflow: scroll;
}
