<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="menu/ventas"></ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- 🔎 Buscador y botones superiores -->
  <ion-row>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size-xs="12" size-md="6">
            <div class="row-search-container">
              <ion-input [(ngModel)]="searchTerm" placeholder="Buscar..." class="input-search" />
              <ion-button class="btn-search-inside" type="button" (click)="onSearch()">
                <ion-icon name="search" />
              </ion-button>
            </div>
          </ion-col>

          <ion-col size-xs="6" size-md="2">
            <ion-button class="btn-mostrar" (click)="abrirCrear()">
              <ion-icon slot="end" name="person" />
              <span>Crear usuario</span>
            </ion-button>
          </ion-col>

          <ion-col size-xs="6" size-md="2">
            <ion-button class="btn-exportar">
              <ion-icon slot="end" name="document-text" />
              <span>Exportar Excel</span>
            </ion-button>
          </ion-col>

          <ion-col size-xs="12" size-md="2">
            <div class="grupo-derecho">
              <ion-button class="btn-mostrar" (click)="abrirPopoverLimite($event)">
                <span>Mostrar: {{ itemsPerPage }}</span>
                <ion-icon slot="end" name="caret-down" />
              </ion-button>
              <ion-popover #popoverLimite [isOpen]="isPopoverLimiteAbierto" [event]="eventoPopoverLimite"
                [dismissOnSelect]="false" (didDismiss)="isPopoverLimiteAbierto = false">
                <ng-template>
                  <ion-list>
                    <ion-item (click)="setItemsPerPage(10); popoverLimite.dismiss()">
                      <ion-label>10</ion-label>
                    </ion-item>
                    <ion-item (click)="setItemsPerPage(25); popoverLimite.dismiss()">
                      <ion-label>25</ion-label>
                    </ion-item>
                    <ion-item (click)="setItemsPerPage(50); popoverLimite.dismiss()">
                      <ion-label>50</ion-label>
                    </ion-item>
                    <ion-item (click)="setItemsPerPage(100); popoverLimite.dismiss()">
                      <ion-label>100</ion-label>
                    </ion-item>
                  </ion-list>
                </ng-template>
              </ion-popover>
            </div>
          </ion-col>
        </ion-row>

        <div class="div-tabla">
          <ion-grid class="tabla-usuarios">

            <!-- Encabezado -->
            <ion-row class="header-row">
              <ion-col size="1"><strong>Usuario</strong></ion-col>
              <ion-col size="2"><strong>Nombre(s)</strong></ion-col>
              <ion-col size="2"><strong>Apellidos</strong></ion-col>
              <ion-col size="2"><strong>Correo</strong></ion-col>
              <ion-col size="1"><strong>Teléfono</strong></ion-col>
              <ion-col size="2"><strong>Rol</strong></ion-col>
              <ion-col size="2"><strong>Acciones</strong></ion-col>
            </ion-row>

            <!-- Filas dinámicas -->
            <ion-row *ngFor="let user of dataUser" class="body-row">
              <ion-col size="1">{{ user.usu_nom_usu }}</ion-col>
              <ion-col size="2">{{ user.usu_nombres }}</ion-col>
              <ion-col size="2">{{ user.usu_apellidos }}</ion-col>
              <ion-col size="2">{{ user.usu_correo }}</ion-col>
              <ion-col size="1">{{ user.usu_telefono }}</ion-col>
              <ion-col size="2">{{ onTipoRol(user.usu_rol) }}</ion-col>
              <ion-col size="2">
                <ion-button class="btn-ver" size="small" (click)="abrirVer(user)">
                  <ion-icon name="eye"/>
                </ion-button>
                <ion-button class="btn-editar" size="small" (click)="abrirEditar(user)">
                  <ion-icon name="pencil"/>
                </ion-button>
                <ion-button class="btn-eliminar" size="small" (click)="abrirModalEliminar(user)">
                  <ion-icon name="trash" />
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <!--MODAL CREAR, EDITAR Y VER-->
        <ion-modal [isOpen]="modalAbierto" (didDismiss)="cerrarModal()" cssClass="modal-card">
          <ng-template>
            <ion-card class="card-modal">
              <ion-card-header>
                <ion-card-title>
                  <strong>
                    {{ 
                      modoModal === 'crear' ? 'Crear Usuario' : 
                      (modoModal === 'ver' ? 'Detalle de Usuario' : 
                      'Editar Usuario')
                    }}
                  </strong>
                </ion-card-title>
              </ion-card-header>
        
              <ion-card-content>
                <form [formGroup]="formUsuario" (ngSubmit)="guardarModal()">
                  <ion-row>
                    <!-- Usuario -->
                    <ion-col sizeMd="4" sizeXs="12">
                      <ion-label position="stacked">
                        Usuario
                        <ion-text color="danger">*</ion-text>
                      </ion-label>
                      <ion-input 
                        class="card-modal-input" 
                        formControlName="usu_nom_usu" 
                        placeholder="Ej: jperez">
                      </ion-input>
                      <ion-note 
                        color="danger" 
                        *ngIf="f['usu_nom_usu'].touched && f['usu_nom_usu'].invalid">
                        Mínimo 3 caracteres.
                      </ion-note>
                    </ion-col>
        
                    <!-- Rol -->
                    <ion-col sizeMd="5" sizeXs="12">
                      <ion-label position="stacked">
                        Rol 
                        <ion-text color="danger">*</ion-text>
                      </ion-label>
                      <ion-select 
                        class="card-modal-select" 
                        formControlName="usu_rol" 
                        interface="popover"
                        placeholder="Selecciona un rol">
                        <ion-select-option *ngFor="let r of roles" [value]="r.value">
                          {{ r.label }}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
        
                    <!-- Estatus -->
                    <ion-col sizeMd="3" sizeXs="12">
                      <ion-label position="stacked">
                        Estatus 
                        <ion-text color="danger">*</ion-text>
                      </ion-label>
                      <ion-select 
                        class="card-modal-select" 
                        formControlName="usu_estatus" 
                        interface="popover">
                        <ion-select-option 
                          *ngFor="let e of estatus" 
                          [value]="e.value">
                          {{ e.label }}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
        
                    <!-- Nombres -->
                    <ion-col sizeMd="6" sizeXs="12">
                      <ion-label position="stacked">
                        Nombres
                      </ion-label>
                      <ion-input 
                        class="card-modal-input" 
                        formControlName="usu_nombres" 
                        placeholder="Juan Carlos">
                      </ion-input>
                    </ion-col>
        
                    <!-- Apellidos -->
                    <ion-col sizeMd="6" sizeXs="12">
                      <ion-label position="stacked">
                        Apellidos
                      </ion-label>
                      <ion-input 
                        class="card-modal-input" 
                        formControlName="usu_apellidos" 
                        placeholder="Pérez Gómez">
                      </ion-input>
                    </ion-col>
        
                    <!-- Correo -->
                    <ion-col sizeMd="6" sizeXs="12">
                      <ion-label position="stacked">
                        Correo
                      </ion-label>
                      <ion-input 
                        class="card-modal-input" 
                        formControlName="usu_correo"
                        placeholder="correo@dominio.com">
                      </ion-input>
                    </ion-col>
        
                    <!-- Teléfono -->
                    <ion-col sizeMd="6" sizeXs="12">
                      <ion-label position="stacked">
                        Teléfono 
                        <ion-text color="danger">*</ion-text>
                      </ion-label>
                      <ion-input 
                        class="card-modal-input" 
                        formControlName="usu_telefono" 
                        placeholder="33...">
                      </ion-input>
                    </ion-col>
        
                    <!-- Contraseña (visible en CREAR y EDITAR) -->
                    <ion-col sizeMd="6" sizeXs="12" *ngIf="modoModal !== 'ver'">
                      <ion-label position="stacked">
                        {{ modoModal === 'crear' ? 'Contraseña' : 'Nueva contraseña' }}
                      </ion-label>
                      <ion-text *ngIf="modoModal === 'crear'"  color="danger">*</ion-text>
                      <ion-item class="card-modal-input" lines="none">
                        <ion-input 
                          [type]="ocultarPass ? 'password' : 'text'" 
                          formControlName="usu_clave"
                          [placeholder]="modoModal === 'crear' ? 'Mínimo 6 caracteres' : '(Dejar vacío para no cambiar)'">
                        </ion-input>
                        <ion-button 
                          fill="clear" 
                          slot="end" 
                          type="button" 
                          (click)="ocultarPass = !ocultarPass">
                          <ion-icon [name]="ocultarPass ? 'eye-off' : 'eye'" color="primary"/>
                        </ion-button>
                      </ion-item>
                      <ion-note color="medium" *ngIf="modoModal==='crear'">
                        Mínimo 6 caracteres.
                      </ion-note>
                    </ion-col>
                  </ion-row>

                  <div class="botonera">
                    <ion-button color="medium" type="button" (click)="cerrarModal()">Cerrar</ion-button>
                    <ion-button color="primary" *ngIf="modoModal==='editar' || modoModal==='crear'" type="submit">
                      Guardar
                    </ion-button>
                    <ion-button color="medium" *ngIf="modoModal==='ver'" type="button"
                      (click)="abrirEditar(usuarioSeleccionado!)">
                      Editar
                    </ion-button>
                  </div>
                </form>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-modal>

        <!--MODAL ELIMINAR-->
        <ion-modal [isOpen]="modalEliminarAbierto" (didDismiss)="cerrarModalEliminar()" cssClass="modal-card">
          <ng-template>
            <ion-card class="card-modal">
              <ion-card-header>
                <ion-card-title>
                  <strong>Eliminar usuario</strong>
                </ion-card-title>
              </ion-card-header>
        
              <ion-card-content>
                <p class="card-modal-parrafo">
                  ¿Seguro que deseas eliminar al usuario
                  <strong>{{ usuarioSeleccionado?.usu_nom_usu }}</strong>?
                </p>
        
                <div class="botonera" style="margin-top:1rem;">
                  <ion-button color="medium" type="button" (click)="cerrarModalEliminar()" [disabled]="isEliminando">
                    Cancelar
                  </ion-button>
        
                  <ion-button color="danger" type="button" (click)="confirmarEliminar()" [disabled]="isEliminando">
                    <ion-spinner name="dots" *ngIf="isEliminando" style="margin-right:.5rem;"></ion-spinner>
                    Eliminar
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-modal>

        <!-- 🔹 Paginación -->
        <ion-row class="paginacion-wrapper ion-justify-content-center ion-align-items-center">
          <ion-col size="auto">
            <ion-button fill="clear" class="nav-btn" (click)="cambiarPagina(-1)"
              [disabled]="currentPage === 1 || isLoading">
              <ion-icon name="chevron-back-outline" />
            </ion-button>
          </ion-col>

          <ion-col size="auto">
            <ion-input type="number" [(ngModel)]="currentPage" (ionChange)="onInputChange()" min="1" class="page-input"
              [disabled]="isLoading">
            </ion-input>
          </ion-col>

          <ion-col size="auto">
            <ion-button fill="clear" class="nav-btn" (click)="cambiarPagina(1)" [disabled]="isLoading">
              <ion-icon name="chevron-forward-outline" />
            </ion-button>
          </ion-col>

          <ion-col size-xs="12" size-md="12" class="total-info">
            Página {{ currentPage }} de {{ totalPaginas }} • Total: {{ totalRegistros }} registros
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>