<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Graficas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col sizeXs="12" class="opciones-grafica">
      <ion-item>
        <ion-select label="Producto" label-placement="floating">
          <ion-select-option value="frappe">frappe</ion-select-option>
          <ion-select-option value="marquesita">marquesita</ion-select-option>
          <ion-select-option value="desayuno">desayuno</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Fecha" label-placement="floating">
          <ion-select-option value="Hoy">Hoy</ion-select-option>
          <ion-select-option value="Semana">Semana</ion-select-option>
          <ion-select-option value="Mes">Mes</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col sizeXs="12">
      <canvas id="graficaVentas"></canvas>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-row>
          <ion-col size="12">
            <ion-card-content>
              <ion-row>
                <ion-label class="label-producto">
                  Taro
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-label class="label-porcentaje">
                  100%
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-label class="label-cantidad">
                  25
                </ion-label>
              </ion-row>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>