ion-content {
    --padding-top: 1rem;
}

ion-row {
    width: 100%;
}

ion-item {
    --background: var(--secondary-color);
    width: 100%;
    border-radius: 10px;
}

ion-toolbar {
    justify-content: center;
}

canvas {
    margin: 2rem;
}

ion-card {
    border-radius: 10px;
    background-color: #cf9bfa;
}

ion-col.vetical-center {
    display: flex;
    align-items: center;
    background: red;
    color: white;
}

ion-label.porcentaje {
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
}

ion-card-content {
    padding: 5px;
}

.label-producto {
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: white;
    font-weight: 500;
}

.label-porcentaje {
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #FF6384;
    color: white;
    font-weight: 500;
}

.label-cantidad {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
}
